
@font-face {
    font-family: 'Pupcat Regular';
    src: url('../../fonts/pupcat/PupcatRg-Regular.eot');
    src: url('../../fonts/pupcat/PupcatRg-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/pupcat/PupcatRg-Regular.woff') format('woff'), url('../../fonts/pupcat/PupcatRg-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Pupcat Bold';
    src: url('../../fonts/pupcat/PupcatRg-Bold.eot');
    src: url('../../fonts/pupcat/PupcatRg-Bold.eot?#iefix') format('embedded-opentype'),url('../../fonts/pupcat/PupcatRg-Bold.woff') format('woff'),url('../../fonts/pupcat/PupcatRg-Bold.ttf') format('truetype');
  }
  