// Override theme settings (see ../template/settings.scss)

// Background of the presentation
$backgroundColor: #fff;

// Primary/body color
$mainColor: #222;

// Headings
$headingColor: $frog-green;

// Links and actions
$linkColor: $light-green;
$linkColorHover: lighten( $linkColor, 15% );

// Text selection
$selectionBackgroundColor: lighten( $linkColor, 25% );
// $selectionColor: #fff;

// Colors used for UI elements that are overlaid on top of
// the presentation
// $overlayElementBgColor: 240, 240, 240;
// $overlayElementFgColor: 0, 0, 0;


section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

.reveal {
    .brand.rex-rana {
			color: $frog-green;
    }
}

$codeBgColor: #c4c4c4;