/**
 * Rex Rana (dark) theme for reveal.js.
 *
 * By Peter Hebert, Rex Rana Design and Development Ltd.
 * https://rexrana.ca
 */
 @use "sass:math";

// Default mixins and settings
@import "~reveal.js/css/theme/template/mixins.scss";
@import "~reveal.js/css/theme/template/settings";

// Include theme-specific fonts
@import "fonts/source-sans-pro";

// common theme settings
@import "setup/settings-common";

// colors
@import "setup/colors";

// Specific theme settings
@import "themes/dark";

// Theme template ------------------------------
@import '~reveal.js/css/theme/template/theme';
// ---------------------------------------------

@import "setup/after-theme-common";

.reveal .slides {
  text-align: inherit;
}

.reveal .brand {
	opacity: 0.25;
}
