@for $i from 1 through 4 {
    .mt-#{$i} {
      margin-top: ($blockMargin * $i);
    }
    .mb-#{$i} {
      margin-bottom: ($blockMargin * $i);
    }

  }

    .float-left {
        float: left;
        margin-right: 1em;
    }
    .float-right {
        float: right;
        margin-left: 1em;
    }
    .center-block {
        margin: 0 auto 0.5em;
    }
    .img-small {
        width: 20%;
    }
    .img-md {
        width: 33%;
    }
    .img-lg {
        width: 66%;
    }

    .text-center { text-align: center; }


.reveal {

    .brand {
        font-size: $brand-emsize;
        display: block;
        position: fixed;
        width: 25%;
        height: auto;
        z-index: 30;
        left: ($brand-emsize * 2);
        bottom: ($brand-emsize * 2);
        -webkit-user-select: none;
        &.hidden {
            display: none;
        }
        .logo {
            vertical-align: middle;
            margin-right: 0.25em;
        }
    }


    .slides {
        text-align: left;
        img {
            margin: 0;
            background: none;
            border: 0 none;
            box-shadow: none;
            max-width: 100%;
            height: auto;
            &.fit {
                width: 100%;
            }
            &.icon {
                height: 1em;
                width: auto;
                vertical-align: middle;
                margin-right: 0.125em;
            }
        }
    }
    .corner-bottom {
        position: absolute;
        width: 25%;
        left: 0;
        bottom: 0;
        -webkit-user-select: none;
    }
    section {
        > h1 {
            margin-block: 1em;
        }
        ul li {
            margin-bottom: em(12);
        }

        h1 {
            margin-bottom: 0.5em;
        }
        h2,
        h3,
        h4 {
            margin: 0.5em 0;
        }
        header {
            margin-block: 1em;
            h1 {
                margin: 0;
            }
            p {
                font-size: $smallTextSize;
            }
        }
    }

  
    ul ul {
        margin-top: ($blockMargin /2);
        list-style-type: circle;
    }
    code {
        background-color: $codeBgColor;
        padding: .0625em .25em;
    }

    pre {
        font-family: $preFont;
        box-shadow: none;
        margin: 0;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-size: em(32);
    }
    pre code {
        max-height: 700px;
        margin: 0;
        padding: $blockMargin;
    }
    .small {
        font-size: $smallTextSize;
    }
    // title slide
    .title-slide {
        text-align: center;
        header {
            margin: 1em 0;
        }
        h1 {
            font-size: $titleHeadingSize;
        }
        h2 {
            width: 66%;
            margin: 0 auto;
        }
        h3 {
            margin: 0.25em 0;
        }
        .presenter {
            margin-bottom: 0.5em;
            p {
                font-size: em(32);
            }
        }
        p {
            margin: 0;
        }
    }
}
