$brandFont: "Pupcat Bold", "Trebuchet MS", "Arial", sans-serif;
$brand-emsize-rexrana: ( 28px / $mainFontSize ) * 1em;

.reveal {
    .brand.rex-rana {
      font-family: $brandFont;
      font-size: $brand-emsize-rexrana;
      left: $brand-emsize-rexrana;
      bottom: $brand-emsize-rexrana;
    }
}
