// Primary/body text
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$mainFontSize: 48px;

// Vertical spacing between blocks of text
$blockMargin: 16px;

@import "mixins";

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: 600;
$heading1TextShadow: $headingTextShadow;

// FONT SIZES
$titleHeadingSize: em(90);

$heading1Size: em(81);
$heading2Size: em(72);
$heading3Size: em(60);
$heading4Size: em(54);
$smallTextSize: em(36);

// code font
$preFont: 'Consolas', 'Courier New', 'Lucida Console', 'Monaco', 'Andale Mono', 'Liberation Mono', monospace;
$codeFont: monospace;

// branding (generic)
$brand-emsize: ( 21px / $mainFontSize ) * 1em;
